.result-message {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: .9;
  color: #fff;
  font-size: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-transform: uppercase;
    margin: 0;
  }

  .restart-button {
    font-size: 32px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: #000;
      border-color: #fff;
      color: #fff;
    }

    &:active {
      background-color: #3b3b3b;
    }
  }
}